
<div class="container">
  
  <div class="row">
    <div class="d-flex justify-content-between">
      <div><h1>Businesses</h1></div>
      <div>
        <%= link_to new_business_path, class: 'btn btn-outline-primary' do %>
          <%= fa_icon "plus" %> New
        <% end %>
      </div>
    </span>
  </div>
  <%= render partial: "business", collection: @businesses %>
</div>



