<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1>When It Mattered</h1>
    <p class="lead text-muted"><%= link_to new_business_path, class: "text-dark font-weight-bold" do %>List a place, Link to an article.<% end %><br/>
    Lets support those that helped when it mattered.</p>
  </div>
</section>
<%= react_component("Search") %>