<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1>When It Mattered</h1>
    <p class="lead text-muted">List a place, Link to an article.<br/>
    Lets support those that helped when it mattered.</p>
  </div>
</section>
<%= react_component("Search") %>