<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1>When It Mattered</h1>
    <p class="lead text-muted">
    <span class="font-weight-bold">Lets support those that helped when it mattered.</span><br />
    List a place, Link to an article, Search near you.</p>
  </div>
</section>
<%= react_component("Search", categoryOptions: category_options_array ) %>