<section class="jumbotron text-center">
  <div class="container">
    <h1>When It Mattered</h1>
    <p class="lead text-muted">List a place, link to an article, Lets support those that helped when it mattered.</p>
  </div>
</section>