<section class="jumbotron text-center">
  <div class="container">
    <h1>When It Mattered</h1>
    <p class="lead text-muted">List a place, Link to an article.<br/>
    Lets support those that helped when it mattered.</p>
    <%= react_component("Search", id: 'bizSearch') %>
  </div>
</section>